

.swiper {
  width: 100%;
  height: 45vh;
  margin: 10px 0 10px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .swiper {
    height: 30vh;
  }

}